* {
  /*seletor universal*/
  margin: 0; /*resetando as configurações*/
  padding: 0;
  box-sizing: border-box; /*medida do tamanho da caixa, a propriedade border-box, acompanha o tamanho da borda*/
}

:root {
  --text-color: rgb(236, 234, 241);
  --stroke-color: rgba(15, 14, 14, 0.5);
}

body {
  /*
  background-image: url(./assets/bg-mobile.jpg);
  background-repeat: no-repeat; /*permite que não se repita um imagem escolhida*/
  /*background-position: top center;
  background-size: cover;*/ /*fizemos o agrupameto em apenas uma propriedade. pode ser feito o agrupamento em apenas uma função, como segue abaixo*/
  background: url(./assets/banner-limpa-nome.jpg) no-repeat top center/cover;

  height: 100vh;
}

body * {
  font-family: "Inter", sans-serif;
  color: var(--text-color);
}

#container {
  width: 100%;
  max-width: 588px;
  margin-left: 0px;
}

/*links*/
ul {
  list-style: none;
  display: flex;
  font-size: 16px;
  margin-top: 8px;
}

ul li a {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  padding: 8px 2px;
  width: 190px;
  background: var(--surface-color);
  border-radius: 16px;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  text-decoration: none;
  font-weight: 600;
  transition: background 0.2s;
  /*caniuse.com site onde mostra as compatibilidade browser*/
}

/*pseudo selector*/
ul li a:hover {
  background: var(--surface-color-hover);
  border: 1.5px solid var(--text-color);
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 1.2rem;
  display: flex;
  justify-content: center;
  /* altura do rodapé */
}
#final {
  position: absolute;
  bottom: 0;
  width: auto;
  height: 1.2rem;
  display: flex;
  justify-content: flex-end;
}
